* {
    box-sizing: border-box;
    
}

html {
    background-color: hsl(275, 100%, 97%);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;

}

main {
    position: relative;
    display: grid;
    place-items: center;
    height: 100vh;
    
    
}

#background {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    
    
}

#background img {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

}

#FEM-FAQ {
    position: absolute;
    font-family: 'Work Sans', sans-serif;
    background-color: white;
    width: 40%;
    border-radius: 30px;
    z-index: 200;
    
}

h1 {
    color: hsl(292, 42%, 14%);
    font-size: 3.5em;
    font-weight: 700;

}

h2 {
    color: hsl(292, 42%, 14%);
    font-size: 18px;
    font-weight: 600;
    

}

p {
    font-size: 16px;
    font-weight: 400;
    color: hsl(292, 16%, 49%);
    line-height: 1.75;
    display: none;
}

#selected {
    color: hsl(275, 100%, 97%);
}

.attribution {
    font-size: 11px; text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.mouseover {
    color: #ad28eb;
    cursor: pointer;
    
}



/** layout inside FAQ panel **/

#FEM-FAQ {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.QandA {
    margin-bottom: 25px;
}

#titleWrapper {
    margin-top: -10px;
    display: flex;
    align-items: center;
    height: 100px;
}

#titleWrapper div {
}

#starSign {
    width: 10%;

}

#title {
    width: 90%;;
}

.questionAndPlusWrapper {
    display: flex;
    align-items: center;
}

.question {
    width: 90%;
}

.plusSign {
    width: 10%;
}

/* mobie */

@media only screen and (max-width: 975px) {
    #FEM-FAQ {
        width: 375px;
        border-radius: 10px;
    }
    
    #starSign {
        
    }

    #title {

    }
}

@media only screen and (max-width: 1730px) {
    #starSign {
        width: 50px;
    }
}